body {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;

    background: url(./assets/background-4.png);
}

/* input start  */


#style2 input {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.793);
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin: 20px 20px;
    width: 50%;
    border: none;
    outline-style: none;

}

.style3 {
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.39);
}

.center1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(50%, 50%);
    transform: translate(-85%, -65%);
}


/* input end  */